h1,
h2,
h3,
h4,
h5,
h6,
footer,
p,
span, small {
    text-align: center;
}

header, article {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

ul li {
    list-style-type: none;
}


